body{
    font-family: 'Poppins', sans-serif;
    background-color: #FAF7F0
    
}

/* //////////////////////////nav */

#up{
    z-index: 9999;
   
}

.main-bg{
    background-color:#FAF7F0;
}

.main-color{
color: #FAF7F0;
}

.sec-color{
    background-color: #A48F6433;
}

.ther-color{
    color: #242448;
}
.ther-bg{
    background-color: #242448;
    
}

.color-big{
    background-color: #E6E2D7;
}
.color-big2{
    background-color: #D1C6B0;
;
}
.btn-ther{
    border: 2px solid #242448;
    
}

.star-color{
    color: #FCBC40;
}

.flex-start{
    justify-content: flex-start;
}


.scroll-to-top{
    background-color:#A48F64C9 ;
}

.nav-opptions:hover {
    text-decoration: underline;
    color: #A48F64;
}
/* /////////////////////////////////////////////////////////////////// */

.circle {
  width:30px;
  height:30px;
  border-radius: 50%;
}

.gold {
   color:#A48F64C9 ;
}

.gold-border{
    border-color:rgba(162, 141, 100, 1) ;
}

.step-line {
  height:1px;
}


.bg-boxs{
    background-color:rgba(253, 252, 250, 1);
}
.color-box{
   color:  rgba(55, 73, 87, 1);
}


.payment{
    border-color: rgba(36, 36, 72, 1) !important;

}







/* ////////////////////////////////////////////////////////////////footer */
.footer .row {
    align-items: flex-start;
    /* بدل center */
}

.footer-link {
    cursor: pointer;
    transition: 0.3s;
}

.footer-link:hover {
    color: #FAF7F0;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.footer-bg{
    background-color: #242448;
color: #A28D64 !important ;
}




@media (max-width: 768px) {
    .logo{
        text-align: center !important;
    }
    .list{
        display: block !important;

    }
    .menu{
        display: none;
        margin: auto;
    }
    .cart{
        display: none !important;
    }
    .text-nav {
        font-size:14px !important;
    }


    /* /////////////////////////////////////////////// */
    
.container > .d-flex {
    width:90% !important;
  }


  .step-line {
    margin: 0 8px !important;
  }


  .circle {
    width: 26px;
    height: 26px;
    font-size: 12px;
  }

  .step span {
    font-size: 11px;
  }

  
  .total-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    
  }


  .total-mobile .d-flex {
    margin: 0 !important;
    gap: 6px;
  }


  .total-mobile .price {
    font-size:16px;
    color: #c8a97e;
  }
  .pro{
    display: none;
  }

  /* الزرار */
  .total-mobile a {
    width: auto !important;
    padding: 6px 12px !important;
    font-size: 13px;
    margin: 0 !important;
    white-space: nowrap;
  }

  .booking-summary {
    padding: 15px !important;
  }
  .ditails{
    display: none;
  }


    /* ///////////////////////////////////footer */
.footer .row {
    align-items: flex-start;
    /* بدل center */
}

.footer-link {
    cursor: pointer;
    transition: 0.3s;
}

.footer-link:hover {
    color: #FAF7F0;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}}
